.container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 10px;
    height: 600px;
    text-align: center;
}   

.child{
    display: grid;
    grid-gap: 10px;
}

.child div{
    background-color: aquamarine;
    color: darkgreen;
    font-weight: 600;
    box-shadow: 2px 2px 2px greenyellow;
}

.child div:hover{
    margin: 10px;
    grid-gap: 20px;
    background-color: rgb(86, 150, 129);
    color: white;
    box-shadow: 6px 6px 6px aquamarine;
    cursor: pointer;
}